<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <!-- Include Tailwind CSS from CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <div class="container mx-auto p-8">
      <div
        class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-lg"
      >
        <div class="p-5">
          <h1 class="text-center text-2xl font-bold text-gray-700">
            URL Shortener
          </h1>
          <form
            hx-post="/shorten"
            hx-target="#shortened-url"
            hx-swap="innerHTML"
            class="mt-4"
          >
            <div class="mb-4">
              <label
                for="url"
                class="block text-gray-700 text-sm font-bold mb-2"
                >Enter URL:</label
              >
              <input
                type="text"
                id="url"
                name="original_url"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              />
            </div>
            <div class="flex items-center justify-between">
              <button
                type="submit"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              >
                Shorten
              </button>
            </div>
          </form>
          <div
            id="shortened-url"
            class="mt-4 text-center p-3 bg-gray-200 rounded"
          ></div>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("htmx:afterRequest", function (evt) {
        var xhr = evt.detail.xhr;
        if (xhr.status == 200 && xhr.responseText) {
          var response = JSON.parse(xhr.responseText);
          document.getElementById("shortened-url").innerHTML =
            'Shortened URL: <a href="/' +
            response.short_url +
            '" class="text-blue-500 hover:text-blue-700">' +
            "http://localhost:8080/" +
            response.short_url +
            "</a>";
        } else {
          document.getElementById("shortened-url").innerHTML =
            "Error shortening URL: " + xhr.responseText;
        }
      });
    </script>
  </body>
</html>
